{
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],
  "plugins": [
    "react"
  ],
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx"
      ], // Your TypeScript files extension
      "parserOptions": {
        "project": [
          "./tsconfig.json"
        ] // Specify it only for TypeScript files
      }
    }
  ],
  "rules": {
    "max-classes-per-file": [
      "off",
      1
    ]
  }
}